@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fuzzy+Bubbles&display=swap');

nav {
    text-align: center;
    background-color:#b46229;
    display: flex;
    justify-content: space-around;
    
}
#navigation{
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
}
#sweet{
    grid-column: 1/2;
    text-align: center;
    font-size: 50px;
    color: #FAEADE;
    margin-top: 200px;

}
#sweet:hover, #savory:hover{
    background-color: #FAEADE;
    color: #b46229;
}
#savory{
    grid-column: 3/4;
    font-size: 50px;
    color: #FAEADE;
    margin-top: 200px;
    text-align: center;

}
#logo{
    width: 50px;
    height: 50px;
}
#explanation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    background-color: #FAEADE;

}
#antipasto{
    grid-column: 1/2;
    width: 400px;
    height: 400px;
    padding-left: 100px;
}
#explanation-msg{
    grid-column: 2/3;
    block-size: fit-content;
    width: fit-content;
    padding-right: 50px;
}
.explanation-title{
    font-family: "bangers";
    font-size: 50px;
    text-align: center;
}
.msg {
    font-family: "Fuzzy Bubbles";
    font-size: 20px;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FAEADE;

}
.tips{
    grid-column: 1/2;
    text-align: center;
}
.family-img{
    grid-column: 2/3;
    width: 100%;
    height: 80%;
    padding: 25px;
}
.products{
    grid-column: 3/4;
    text-align: center;
    padding-left: 50px;

}
.tips h2{
    font-family: "bangers";
    font-size: 45px;
}
.tips ul{
    font-family: "Fuzzy Bubbles";
    font-size: 20px;
    text-align: left;
}
.products h2{
    font-family: "bangers";
    font-size: 45px;
}
.products ul{
    font-family: "Fuzzy Bubbles";
    font-size: 20px;
    text-align: left;
}
footer{
    background-color: #b46229;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
#explanation-sub{
    background-color: #FAEADE;
    font-family: "bangers";
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.recipe-grid{
    background-color: #FAEADE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 16% 16% 30% 22% 16%;
}
.recipe-grid h2{
    font-family: "bangers";
    color: #d16229;
}
.recipe-grid ul, .recipe-grid ol{
    font-family: "fuzzy bubbles";
}

.cheesecake-img{
    grid-column: 1/2;
    grid-row:1/2;
    padding-top: 70px;
    width: 375px;
    height: 450px;
    padding-left: 40px;
}
.mac-n-cheese-img{
    grid-column: 1/2;
    grid-row:1/2;
    width: 375px;
    height: 450px;
    padding-left: 40px;
}
.cheesecake-name {
    grid-column: 2/4;
    grid-row:1/2;
    padding-top: 50px;
    padding-left: 40px;

}
.mac-n-cheese-name {
    grid-column: 2/4;
    grid-row:1/2;
    padding-left: 40px;

}
.cheesecake-directions{
    grid-row:1/2;
    grid-column: 4/6;
    padding-top: 90px;
    padding-right: 70px;
}
.mac-n-cheese-directions{
    grid-row:1/2;
    grid-column: 4/6;
    padding-top: 20px;
    padding-right: 70px;
}
.cheesecake-ingredients{
    grid-column: 2/4;
    grid-row:1/2;
    padding-top: 90px;
    padding-left: 70px;

}
.mac-n-cheese-ingredients{
    grid-column: 2/4;
    grid-row:1/2;
    padding-top: 40px;
    padding-left: 70px;

}
.cookie-cake-img{
    grid-column: 5/6;
    grid-row:2/3;
    width: 375px;
    height: 450px;
    padding-top: 50px;
    padding-right: 60px;

}
.kale-pasta-img{
    grid-column: 5/6;
    grid-row:2/3;
    width: 375px;
    height: 450px;
    padding-top: 130px;
    padding-right: 60px;

}
.cookie-cake-name {
    grid-column: 3/5;
    grid-row:2/3;
    padding-left: 60px;
    padding-top: 40px;
}
.kale-pasta-name {
    grid-column: 3/5;
    grid-row:2/3;
    padding-left: 60px;
    padding-top: 110px;
}
.cookie-cake-directions{
    grid-row:2/3;
    grid-column: 1/3;
    padding-top: 90px;

}
.kale-pasta-directions{
    grid-row:2/3;
    grid-column: 1/3;
    padding-top: 110px;

}
.cookie-cake-ingredients{
    grid-column: 3/5;
    grid-row:2/3;
    padding-top: 90px;
    padding-left: 50px;
}
.kale-pasta-ingredients{
    grid-column: 3/5;
    grid-row:2/3;
    padding-top: 150px;
    padding-left: 50px;
}
.lemon-blueberry-img{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 375px;
    height: 475px;
    padding-top: 70px;
    padding-left: 20px;
}
.francese-img{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 325px;
    height: 475px;
    padding-top: 145px;
    padding-left: 10px;
}
.lemon-blueberry-name{
    grid-column:2/4;
    grid-row: 3/4;
    padding-top: 20px;
    padding-left: 40px;

}
.chicken-name{
    grid-column:2/4;
    grid-row: 3/4;
    padding-top: 145px;
    padding-left: 40px;

}
.lemon-blueberry-ingredients{
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 70px;
    padding-left: 20px;
}
.chicken-ingredients{
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 175px;
    padding-right: 150PX;}
.lemon-blueberry-directions{
    grid-column: 3/6;
    grid-row: 3/4;
    padding-top: 70px;
    padding-left: 180px;
}
.chicken-directions{
    grid-column: 3/6;
    grid-row: 3/4;
    padding-top: 175px;
    padding-left: 150px;
}
.pecan-ring-img{
    grid-column: 5/6;
    grid-row: 4/5;
    width: 375px;
    height: 450px;
    padding-top: 60px;

}
.spaghetti-img{
    grid-column: 5/6;
    grid-row: 4/5;
    width: 375px;
    height: 450px;
    padding-top: 20px;

}
.pecan-ring-name{
    grid-column: 3/5;
    grid-row: 4/5;
    padding-left: 60px;
    padding-top: 20px;

}
.spaghetti-name{
    grid-column: 3/5;
    grid-row: 4/5;
    padding-left: 60px;

}
.pecan-ring-ingredients{
    grid-column: 3/5;
    grid-row: 4/5;
    padding-top: 70px;
    padding-left: 60px;

}
.spaghetti-ingredients{
    grid-column: 3/5;
    grid-row: 4/5;
    padding-top: 40px;
    padding-left: 60px;

}
.pecan-ring-directions{
    grid-row: 4/5;
    grid-column: 1/3;
    padding-top: 50px;
    padding-right: 40px;

}
.spaghetti-directions{
    grid-row: 4/5;
    grid-column: 1/3;
    padding-top: 20px;
    padding-right: 40px;

}
.pumpkin-img{
    grid-row: 5/6;
    grid-column: 1/2;
    width: 375px;
    height: 450px;
    padding-top: 30px;
    padding-left: 20px;
}
.turkey-img{
    grid-row: 5/6;
    grid-column: 1/2;
    width: 375px;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 150px;
    padding-top: -50px;
}
.pumpkin-name{
    grid-row: 5/6;
    grid-column: 2/4;
    padding-top: 50px;
    padding-left: 20px;

}
.turkey-name{
    grid-row: 5/6;
    grid-column: 2/4;
    padding-top: 50px;
    padding-left: 20px;

}
.pumpkin-ingredients{
    grid-row: 5/6;
    grid-column: 2/4;
    padding-top: 100px;

}
.turkey-ingredients{
    grid-row: 5/6;
    grid-column: 2/4;
    padding-top: 100px;

}
.pumpkin-directions{
    grid-row: 5/6;
    grid-column: 4/6;
    padding-top: 100px;

}
.turkey-directions{
    grid-row: 5/6;
    grid-column: 4/6;
    padding-top: 100px;

}
.spaghetti-img{
    transform: rotateY(180deg);
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 350px;
  position: relative;
  background-color: #FAEADE;
  width: 100%;
height: 100%;
padding: 0%;
margin: auto;
overflow-x: hidden;
block-size: fit-content;

}

/* Hide the images by default */
.mySlides {
  display: none;
  background-color: #FAEADE;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

      
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
